@using SemanticAgents.SemanticKernelDTOs
﻿<div class="modal fade show d-block" tabindex="-1" role="dialog">
    <div class="modal-backdrop fade show"></div>
    <div class="modal-dialog modal-lg" style="z-index: 1050">
        @*modal-lg*@
        <!-- Pop it above the backdrop -->
        <div class="modal-content rounded-3 border">

            <div class="modal-header">
                <h5>@ModalTitle</h5>
            </div>

            <div class="modal-body">

                <EditForm Model="@ModelDTO" OnValidSubmit="OnCancel" FormName="LMStudioModelModalForm">
                    <DataAnnotationsValidator />
                    @if (ModelDTO != null)
                    {

                        <div class="row mt-2">
                            <div class="col-3">
                                <label class="label mt-2" for="id">Id:</label>
                            </div>
                            <div class="col-9">
                                <InputText inert class="form-control bg-dark text-light " id="id" @bind-Value="@ModelDTO.Id" />
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-3">
                                <label class="label mt-2" for="object">Object:</label>
                            </div>
                            <div class="col-9">
                                <InputText inert class="form-control bg-dark text-light " id="object" @bind-Value="@ModelDTO.Object" />
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-3">
                                <label class="label mt-2" for="type">Type:</label>
                            </div>
                            <div class="col-9">
                                <InputText inert class="form-control bg-dark text-light" id="type" @bind-Value="@ModelDTO.Type" />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3">
                                <label class="label mt-2" for="publisher">Publisher:</label>
                            </div>
                            <div class="col-9">
                                <InputText inert class="form-control bg-dark text-light " id="publisher" @bind-Value="@ModelDTO.Publisher" />
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-3">
                                <label class="label mt-2" for="arch">Arch:</label>
                            </div>
                            <div class="col-9">
                                <InputText inert class="form-control bg-dark text-light " id="arch" @bind-Value="@ModelDTO.Arch" />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3">
                                <label class="label mt-2" for="compat">Compatibility Type:</label>
                            </div>
                            <div class="col-9">
                                <InputText inert class="form-control bg-dark text-light " id="compat" @bind-Value="@ModelDTO.Compatibility_Type" />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3">
                                <label class="label mt-2" for="quant">Quantization:</label>
                            </div>
                            <div class="col-9">
                                <InputText inert class="form-control bg-dark text-light " id="quant" @bind-Value="@ModelDTO.Quantization" />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3">
                                <label class="label mt-2" for="state">State:</label>
                            </div>
                            <div class="col-9">
                                <InputText inert class="form-control bg-dark text-light " id="state" @bind-Value="@ModelDTO.State" />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3">
                                <label class="label mt-2" for="maxContext">Max Context Length:</label>
                            </div>
                            <div class="col-9">
                                <InputNumber inert class="form-control bg-dark text-light " id="maxContext" @bind-Value="@ModelDTO.Max_Context_Length" />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3">
                                <label class="label mt-2" for="loadedContext">Loaded Context Length:</label>
                            </div>
                            <div class="col-9">
                                <InputNumber inert class="form-control bg-dark text-light " id="loadedContext" @bind-Value="@ModelDTO.Loaded_Context_Length" />
                            </div>
                        </div>
                 
                            <div class="row mt-2">
                                <div class="col-3">
                                    <label class="label mt-2" for="capabilities">Capabilities:</label>
                                </div>
                                <div class="col-9">
                                    <InputTextArea inert rows="2" class="form-control bg-dark text-light " id="capabilities" @bind-Value="Capabilities" />
                                </div>
                            </div>
                        
                        <br />

                        <div class="row mt-2">
                            <div class="col-5 offset-5">
                                <button class="btn button-modal-primary form-control" @onclick="OnCancel">@CancelButtonTitle</button>
                            </div>
                            @* <div class="col-4 offset-1">
                                <button class="btn button-modal-success form-control" type="submit">@SubmitButtonTitle</button>
                            </div> *@
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-12">
                                <h5 class="text-danger-alt"><b><i>Error: A Model was not provided.</i></b></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 offset-4 text-center">
                                <button class="btn btn-modal-primary form-control" @onclick="OnCancel">@CancelButtonTitle</button>
                            </div>
                        </div>
                    }
                </EditForm>
            </div>
            <div class="modal-footer">
                <p class="modal-footer-spacer-text">Footer</p>
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public LMStudioModelDTO? ModelDTO { get; set; }

    [Parameter]
    public string? ModalTitle { get; set; }

    [Parameter]
    public string? Capabilities { get; set; }

    // [Parameter]
    // public EventCallback Submit { get; set; }

    // [Parameter]
    // public string SubmitButtonTitle { get; set; } = default!;

    [Parameter]
    public string CancelButtonTitle { get; set; } = default!;

    [Parameter]
    public EventCallback Cancel { get; set; }

    private async Task OnCancel()
    {
        await Cancel.InvokeAsync(null);
    }
}
